shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=true
dedupe-peer-dependents=true
engine-strict=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*types*
